/* main.css */

* {
  font-family: sans-serif;
  user-select:none;
  -moz-user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 50px;
}

header p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding-left: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
}

#root {
  height: calc(100% - 50px);
  width: 100%;
}

#score {
  color: black;
}

#score.in-game {
  color: green;
}

#score.game-over {
  color: red;
}

#time-left {
  color: gray;
  justify-self: right;
  padding-right: 12px;
}

#time-left.start {
  color: green;
}

#time-left.halfway {
  color: black;
}

#time-left.tenSec {
  color: red;
}
